/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;

}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* Home page */
.site-header {
  position: relative;
  padding: 20px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo {
  display: block;
  margin-right: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  color: #000;
  text-decoration: none;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}


.btn {
  padding: 10px 13px;
  margin-right: 20px;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.site-header__sign {
  display: flex;
  align-items: center;
}

.btn-signup {
  border: 1px solid green;
  background-color: green;
  color: #fff;
}

.btn-signup:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.register-btn {
  border: 1px solid #777;
}


.register-btn:hover {
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.site-header__toggle {
  display: none;
}

.site-header-active {
  display: block;
}






@media only screen and (max-width: 900px) {

  .site-header__toggle {
    display: block;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header-active .site-header__sitenav {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #777;

  }

  .site-header__sitenav .sitenav__list {
    flex-direction: column;
    margin-right: 0;
  }

  .site-header__sitenav .sitenav__item {
    padding: 10px;
  }

  .site-header__sitenav .sitenav__link {
    color: #fff;
  }

  .fa-bars{
    font-size: 30px;
  }
}



@media only screen and (max-width: 530px) {
  .site-header {
    padding: 15px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media only screen and (max-width: 460px)  {
  .site-header-btn {
    display: none;
  }


  .site-header-active .site-header-btn {
    position: absolute;
    left: 0;
    top: 280px;
    width: 100%;
    display: block;
    background-color: #777;
    padding-left: 20px;
  }

  .btn {
    margin-bottom: 20px;
  }


  .register-btn {
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 0;
  }
}